.filter{
   width:100%;
}
.filter__bodySelect{
    width: 100%;
    

}

.filter__selectForm{
    width: 100%;
    background-color: white;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.5);
}

.filter__body h1{
    font-size: 5vh;
    /* background-color:red ; */
    

}

