.cardDetails{
    /* background-color: blue; */
    margin: 10px 5px;
    padding: 5px 10px;
    border: 1px soild rgb(161, 161, 161);
    width: auto;
}

.cardDetails__image{
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      width: auto;
      /* background-color: red; */
      height: 360px;
      /* margin: auto; */
     
}
.cardDetails__imageData{
    background-color: white;
    border: 1px soild rgb(161, 161, 161);
    box-shadow: 2px 5px 10px rgba(0,0,0,0.5) ;
    
}
.cardDetails__text{
   padding: 10px;
}

.cardDetails__text>p {
    margin: 2px
}

.cardDetails__buttom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}