@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Texturina:wght@200&display=swap');
.travelDes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top:50px ;
    margin-bottom: 50px;
}
.travelDes__header{
    margin-left: 5%;
}
.travelDes__header > h1 {
    margin-left: 30px;
    font-family: 'Nerko One', cursive;
}
.travelDes__header > p{
  margin-right: 40px;
  font-family: 'Nerko One', cursive;
  font-family: 'Texturina', serif;
  margin: 30px;
}
.travelDes__header > Button{
    margin-left:30px;
}

.travelDes__image{

  margin-Left: 60px;
   
    
}
.travelDes__ImageData{
    border: 1px solid white;
    box-shadow: 2px 5px 10px rgba(0,0,0,0.5);
    border-radius: 20px;
}

@media only screen and (max-width: 900px) {
  .travelDes{
    flex-direction: column-reverse;
    margin: 0 10px;
    
  }
  .travelDes__image{
      display:flex;
    margin:  10%;
    /* align-items: center; */

  }
  .travelDes__header{
      align-items: center;
  }
  .travelDes__ImageData{
    width:300px
  }
}