@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.tours{
    display: flex;
    font-family: 'Ubuntu', sans-serif;
}



.tours__left{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* flex:0.4; */
    /* margin: 10px; */
    padding: 10px;
    /* background-color:  */
}



.tours__selectForm{
    /* margin-top:10px ; */
    width: 100%;
    background-color: white;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.5);
}

.tours__property{
    /* padding:10px; */
    width: 100%;
    /* background-color: red; */
}

.tours__propertyCheckboxList{
    display:flex;
    align-items: center;
}

.tours__property >p{ 
    font-weight: 500;
    margin-left: 5px;
}

.tours__slider > Typography > p {
    font-weight: 500;
}
