.card__header > h1{
    margin-left: 40px;
    margin-bottom: 50px;

}
.card__deatils{
    display: flex;
    width:auto;
    height:auto;
    flex-direction: row ;
    justify-content: space-between;
    margin: 30px;
}