.filter{
    margin-right: 20px;
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    max-width: 100% ;
    margin: 50px;
    width: auto;
    height: 80px;
    align-items: center;
    background-color: white;
    border: 1px solid rgb(224, 214, 214);
    box-shadow: 2px 5px 10px  rgba(0,0,0,0.5);
    z-index: 100;
    border-radius: 10px;
    margin-top: -150px;
    
}

.filter__selectForm {
    width:auto;
    margin: 100px;
    /* background-color: white; */
    max-width: 100% ;

}



