@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.footer{
    background-color: rgb(41, 182, 195);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 100px;
    height: 100%;
    width:100%;
}

.footer__main{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 40px;
}

.footer__SocialLogo img{
    margin:10px ;
}

.footer__mainText > p {
    font-family: 'Poppins', sans-serif;
   font-weight: 600;
   color: rgb(218, 218, 218);
}

.footer__Links{
    display:flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 80px;
}

.footer__first {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* background-color: red; */
}

.footer__first > ul {
    list-style: none;
    margin: 20px;
    height: auto;
    width: auto;
    font-family: 'Poppins', sans-serif;
}
.footer__information {
    margin-bottom: 30px;
    color: rgb(218, 218, 218);
} 

.footer__firstList{
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600 ;
    margin-bottom: 20px;
    color: rgb(218, 218, 218);
    
}


.footer__second {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
      
        /* background-color: red; */
    
}

.footer__second > ul{
    list-style: none;
    margin: 20px;
    height: auto;
    width: auto;
    font-family: 'Poppins', sans-serif;
}

.footer__secondList {
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600 ;
    margin-bottom: 20px;
    color: rgb(218, 218, 218);
}

.footer__tours{
    margin-bottom: 30px;
    color: rgb(218, 218, 218);
}



.footer__third {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
       
        /* background-color: red; */
}

.footer__third > ul {
    list-style: none;
    margin: 20px;
    height: auto;
    width: auto;
    font-family: 'Poppins', sans-serif;
}

.footer__thirdList{
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600 ;
    margin-bottom: 20px;
    color: rgb(218, 218, 218);
}

.footer__contact{
    margin-bottom: 30px;
    color: rgb(218, 218, 218);
}


@media only screen and (max-width: 999px){
    .footer{
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width:440px){
    .footer__Links{
        flex-direction: column;
        align-items: center;
    }
}