.services__header{
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: center;
 
}
.services__headerRight {
    display: flex;
    cursor: pointer;
    /* align-items: center; */

    
}
.services__headerRight > h4{
    margin-right: 5px; 

}

.services__body{
    display: flex;
    /* background-color: red; */
    margin-top:30px;
    justify-content: space-around;
    align-items: center;
}