.travelDes{
    display: flex;
    margin-top:100px ;
    margin-bottom: 100px;
}
.travelDes__header{
    margin-left: 5px;
}
.travelDes__header > h1 {
    margin-left: 30px;
}
.travelDes__header > p{
  margin-right: 40px;
  margin: 30px;
}
.travelDes__header > Button{
    margin-left:30px;
}

.travelDes__image{
    height: 500px;
    width: 650px;
    margin-left: 70px;
   
    
}
.travelDes__Image{
    border: 1px solid white;
    box-shadow: 2px 5px 10px rgba(0,0,0,0.5);
    border-radius: 20px;
}